.spacer {
    flex: 1 1 auto;
  }
  
  .news-card{
    width: 30%;
    height: auto;
    align-content: center;
    align-items: center;
    margin: 10px;
  }

  .head-card{
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      align-content: left;
      vertical-align: top;
      font-size: x-large;
  }
  
  .header-image { 
    background-size: cover;
  }
  
  .card-title{
      font-weight: bold;
      font-size: small;
  }
  
  .card-content{
    font-weight: lighter;
    font-size: smaller;
}
  .image-card{
    max-width: 160px;  
    max-height: 120px;
    align-self: center;
  }
  
  .action-buttons{
      text-align: center;
  }
  
  .news-container {
      width: 100%;
      height: auto;
      margin: 10px;
      background-color: white;
      align-self: center;
  }
  
  .drawer-content {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      flex-wrap: wrap;
  }

  .div-center{
      align-content: center;
      align-items: center;
      align-self: center;
  }
  
  .drawer {
      padding: 20px;

  }
  
  .source-name {
      margin-left:5px; 
  }
  
  .list-item:hover{
      cursor: pointer;
      background-color: #3f51b5;
      color: white;
  }

  .toc-icon:hover{
    cursor: pointer;
}
  